<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <title>{{nameUa}}</title>
    <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
    <link href="/static/style/normalize.css" rel="stylesheet">
    <link href="/static/style/pageFilm.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">

    <link href="https://vjs.zencdn.net/7.6.5/video-js.css" rel="stylesheet">
    <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
</head>
<body>
<!--    <div style="display: none" id="movieId">{{_id}}</div>-->

    <div id="wrapper">
        {{> search}}

        <div id="content">
            <div id="backgroundImg"></div>

            {{> menu}}

            <div id="filmName">
                <h3>{{nameUa}}</h3>
                <p>{{nameEn}}</p>
            </div>


            <div id="leftSidebar">
                <div id="contentLeftSideBar">
                    <div id="imgFilm">
                        <img src=/movie/static/images/{{sourceImg}} alt={{nameEn}}>
                    </div>

                    <div id="downloadFilm">
                        <a href="/movie/download/{{_id}}">Скачати фільм </a></li>
                    </div>

                    <div id="textInfoLeftSidebar">
                        <div>
                            <ul id="infoLeftUl1">
                                <li class="">Якість</li>
                                <li class="even">Переклад</li>
                                <li class="">Гасло</li>
                                <li class="even">Рік</li>
                                <li class="">Країна</li>
                                <li class="even">Жанр</li>
                                <li class="">Режисер</li>
                                <li class="even">Тривалість</li>
                                <li class="">Обмеження</li>
                                <li class="even">Прем'єра</li>
                                <li class="">Кількість переглядів</li>
                            </ul>

                            <ul id="infoLeftUl2">
                                <li class="">{{qualityVideo}}p</li>
                                <li class="even">{{translation}}</li>
                                <li class="">{{motto}}</li>
                                <li class="even">{{year}}</li>
                                <li class="">{{country}}</li>
                                <li class="even">{{genres}}</li>
                                <li class="">{{producer}}</li>
                                <li class="even">{{duration}}</li>
                                <li class="">{{age}}+</li>
                                <li class="even">{{firstRun}}</li>
                                <li class="">{{#if views}}{{views}}{{else}}0{{/if}}</li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>

            <div id="rightSidebar">
                <h4>Скоро на сайті</h4>
                <div id="contentRightSidebar">
                    <div id="newFilm1" class="newFilm">
                        <img src="/static/images/hmarochos.jpg" alt="">
                        <div class="textNewFilm"><p>Хмарочос</p></div>
                    </div>

                    <div id="newFilm2" class="newFilm">
                        <img src="/static/images/poxmilla.jpg" alt="">
                        <div class="textNewFilm"><p>Похмілля у Європі</p></div>
                    </div>

                    <div id="newFilm3" class="newFilm">
                        <img src="/static/images/zachariwaniy.jpg" alt="">
                        <div class="textNewFilm"><p>Зачарований Принц</p></div>
                    </div>

                    <div id="newFilm4" class="newFilm">
                        <img src="/static/images/monstr.jpg" alt="">
                        <div class="textNewFilm"><p>Монстри на канкулах 3</p></div>
                    </div>
                </div>

                {{> favouriteMovies}}
            </div>

            <div id="descriptionFilm">
                <h3>Про фільм {{nameUa}} {{year}} українською мовою: </h3>
                <p>{{description}}</p>
            </div>

            <div id="starring">
                <h4>У ролях :</h4>
                <div>
                    {{#each artists}}
                        <div class="itemStarring">{{this}}</div>
                    {{/each}}
                </div>
            </div>

            <div id="interestingFacts">
                <div>
                    <h4>Цікаві факти, Чи знаєте ви, що...</h4>
                    <p>У кожній з трьох фаз кінематографічноого всесвіту Marvel є відсилання або Каменю до
                        Нескінченності, або до Рукавички Нескінченності.</p>
                    <hr/>
                    <p>Дати виходу на екрани дилогії «Месники: Війна нескінченності» були оголошені ще під
                        час виробництва картини «Месники: Ера Альтрона» (2015).</p>
                    <hr/>
                    <p>Роберт Дауні млолодший вів окремі від своїх колег по кінематографічної всесвіту Marvel
                        переговори щодо своєї участі у дилогії «Месники: Війна нескінченності» і картині
                        «Перший месник: Протистояння» (2016) після того, як виконав всі свої контрактні
                        зобов'язання з трилогії «Залізна людина».</p>
                    <hr/>
                    <p>Цей фільм є 7-ою главою 3-ої фази кінематографічного всесвіту Marvel.</p>
                    <hr/>
                </div>
            </div>

            <div id="gallery">
                <h4>Месники: Війна нескінченності дивитися онлайн безкоштовно в хорошій якості</h4>

                <p>Для всіх шанувальнів даної кінострічки пропонуємо переглянути декілька кадрів із кіно
                    Месники: Війна Нескінченності (2018) онлайн безплатно, після перегляду всіх фото Ви
                    зможете зробити свій вибір чи дивитися кіно онлайн, чи ні. Нижче Ви побачите плеєр за
                    допомогою якого трансюється стрічка, обирайте який плєєр вам більше сподобався, натискайте
                    плей та насолоджуйтесь переглядом.</p>

                <div>
                    <div class="itemGallary"><img src="" alt=""></div>
                    <div class="itemGallary"><img src="" alt=""></div>
                    <div class="itemGallary"><img src="" alt=""></div>
                    <div class="itemGallary"><img src="" alt=""></div>
                    <div class="itemGallary"><img src="" alt=""></div>
                    <div class="itemGallary"><img src="" alt=""></div>
                    <div class="itemGallary"><img src="" alt=""></div>
                    <div class="itemGallary"><img src="" alt=""></div>
                    <div class="itemGallary"><img src="" alt=""></div>
                </div>
            </div>

            <div id="videoPlayer">
                <video id='windowVideoPlayer' class='video-js' controls preload='auto' width='640' height='264'
                       poster='MY_VIDEO_POSTER.jpg' data-setup='{}'>
                    <source src='/movie/watch/{{_id}}' type='video/mp4'>
                    <source src='/movie/watch/{{_id}}' type='video/webm'>
                    <p class='vjs-no-js'>
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                        <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
                    </p>
                </video>
            </div>

        </div>

        {{> comments}}
        {{> newComment}}
        {{> footer}}

    </div>

    <script>
        let a = document.getElementById('linkMainPage');
        a.href = '/';
    </script>
    <script src="/static/scripts/moviePage.js"></script>
<!--    <script type="text/javascript" src="/static/js/share42/share42.js"></script>-->
    <script src='https://vjs.zencdn.net/7.6.5/video.js'></script>
</body>
</html>